.header {
  width: 100%;
  height: 70px;
  background-color: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 35px;
}

.logo {
  width: 50px;
  margin-right: 10px;
  aspect-ratio: auto;
}
